@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #FE5E00;
  --color-secondary: #0E0D12;
  --font-tech: "Exo", sans-serif;
  --font-body: "Inter", sans-serif;
}